{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="loginPage">
    <div class="container px-3 py-3 px-md-1 text-center text-lg-start my-10" style="padding-left:100px;">
        <div class="row gx-lg-5 align-items-center mb-5" style="margin-left : 15em;">
            <div class="col-lg-8 mb-5 mb-lg-0 position-relative">
                <div class="card bg-glass">
                    <div class="card-body px-10 py-1 px-md-5">
                        <h1 class="my-5 display-9 fw-bold ls-tight" style="color: rgb(103, 1, 1)">
                            S'INSCRIRE <br />
                        </h1>

                        <p class="mb-4 opacity-70" style="color: rgb(103, 1, 1)">
                            Inscrivez-vous à la Journée Nationale de la
                            Miage de Nanterre
                        </p>

                        <!-- START FORM -->
                        <div class="form-outline mb-4">
                            <fieldset class="mb-3">
                                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.nom) }}
                                {{ form_row(registrationForm.prenom) }}
                                {{ form_row(registrationForm.miage) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Mot de Passe'
                                }) }}
                           </fieldset>
                           {% if app.user %}
                               <div class="mb-3">
                                   Bienvenu {{ app.user.prenom }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                               </div>
                           {% else %}
                            <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top:10px; background-color:rgb(103, 1, 1); border : none; ">
                                S'inscrire
                            </button>
                              {% endif %}
                            <a href="http://127.0.0.1:8000/" style="color: rgb(103, 1, 1);">Retourner la page d'acceuil</a>
                            {{ form_row(registrationForm.agreeTerms) }}
                            {{ form_end(registrationForm) }}
                        </div>
                        <!-- END FORM -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
